<section id="explore-the-candy" class="explore-the-candy-section">
  <div class="container explore-the-candy-container">
    <h2 class="title" data-text="Explore the Candy Town Areas">
      Explore the Candy Town Areas
    </h2>
    <div class="explore-desk-flex">
      <div class="explore-the-candy-content">
        <h3 class="explore-the-candy-subtitle">Discover Candy Town!</h3>
        <img
          class="explore-game-img"
          src="./img/explore-the-candy/mob.png"
          srcset="
            ./img/explore-the-candy/mob.png    1x,
            ./img/explore-the-candy/mob@2x.png 2x
          "
          alt="Game screenshot levels with girl"
          width="288"
          height="252"
        />
        <p class="explore-the-candy-text">
          Each area in Candy Town has unique decorations and challenges. Explore
          and unlock them all!
        </p>
      </div>
      <div class="explore-the-candy-right">
        <img
          class="explore-game-img-desk"
          src="./img/explore-the-candy/desk.png"
          srcset="
            ./img/explore-the-candy/desk.png    1x,
            ./img/explore-the-candy/desk@2x.png 2x
          "
          alt="Game screenshot levels with girl"
          width="288"
          height="252"
        />
      </div>
    </div>

    <img
      class="explore-candies-image-mob"
      srcset="
        ./img/explore-the-candy/explore-candies.png    1x,
        ./img/explore-the-candy/explore-candies@2x.png 2x
      "
      src="./img/explore-the-candy/explore-candies.png"
      alt="Candies"
      width="105"
      height="53"
    />
    <div class="explore-candy-wrapper">
      <img
        class="explore-candy"
        srcset="
          ./img/explore-the-candy/explore-candy.png    1x,
          ./img/explore-the-candy/explore-candy@2x.png 2x
        "
        src="./img/explore-the-candy/explore-candy.png"
        alt="Candy"
        width="111"
        height="115"
      />
    </div>
    <img
      class="explore-candy-floss"
      srcset="
        ./img/explore-the-candy/explore-candy-floss.png    1x,
        ./img/explore-the-candy/explore-candy-floss@2x.png 2x
      "
      src="./img/explore-the-candy/explore-candy-floss.png"
      alt="Candy"
      width="240"
      height="300"
    />
  </div>
</section>
