<footer class="footer">
  <div class="container footer-container">
    <ul class="footer-list">
      <li class="footer-item">
        <a href="./privacy-policy.html">Privacy Policy</a>
      </li>
      <li class="footer-item">
        <a href="./terms-and-conditions.html">Terms &amp; Conditions</a>
      </li>
      <li class="footer-item">
        <a href="./cookies-policy.html">Cookies Policy</a>
      </li>
    </ul>
    <p class="footer-copyright">
      &copy;<span id="currentYear">2025</span> sweetcrush.site, All rights
      reserved.
    </p>
    <img
      class="girl-candy-road-image"
      srcset="
        ./img/footer/girl-candy-road.png    1x,
        ./img/footer/girl-candy-road@2x.png 2x
      "
      src="./img/footer/girl-candy-road.png"
      alt="Girl Candy Road"
      width="54"
      height="81"
    />
    <img
      class="boosters-image"
      srcset="./img/footer/boosters.png 1x, ./img/footer/boosters@2x.png 2x"
      src="./img/footer/boosters.png"
      alt="Candy Town Boosters"
      width="54"
      height="53"
    />
  </div>
</footer>
