<section id="home" class="home-section">
  <div class="container">
    <div class="home-container-desk">
      <h1 class="home-title" data-text="Build Your Dream Candy Town!">
        Build Your Dream Candy Town!
      </h1>
      <h3 class="home-subtitle">Match candies and unlock sweet decorations!</h3>
      <div class="home-picture-text">
        <p class="home-text">
          Imagine your perfect candy town! Match candies in the game to unlock
          new buildings and decorations. Let's start building!
        </p>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="./img/home/desk.png 1x, ./img/home/desk@2x.png 2x"
          />
          <source
            media="(max-width: 1199.98px)"
            srcset="./img/home/mob.png 1x, ./img/home/mob@2x.png 2x"
          />
          <img
            class="home-image"
            src="./img/home/mob.png"
            alt="Candy Town Preview"
            width="288"
            height="240"
          />
        </picture>
      </div>
      <a
        href="https://play.google.com/store/apps/details?id=com.chorse.match3&hl=en&gl=us"
        target="_blank"
        class="home-link"
      >
        <svg class="home-play-icon" width="16.57" height="17.79">
          <use href="./img/sprite.svg#icon-google-play"></use>
        </svg>
        <span>Google Play</span>
      </a>
    </div>
  </div>
</section>
