<section id="match-to-unlock" class="match-to-unlock">
  <div class="container">
    <h2 class="match-title title" data-text="Match to Unlock">
      Match to Unlock
    </h2>
    <div class="match-content">
      <div class="match-subtitle-wrap">
        <h3 class="match-subtitle">Match and Decorate!</h3>
        <p class="match-description-toogle">
          Every match brings you closer to building your candy town. See what
          sweet rewards you can unlock!
        </p>
      </div>

      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/match-to-unlock/match-to-unlock-main@1x.jpg 1x,
            /img/match-to-unlock/match-to-unlock-main@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 1199px)"
          srcset="
            /img/match-to-unlock/match-to-unlock-main@mob@1x.jpg 1x,
            /img/match-to-unlock/match-to-unlock-main@mob@2x.jpg 2x
          "
        />
        <img
          src="/img/match-to-unlock/match-to-unlock-main@mob@1x.jpg"
          alt="match-to-unlock"
          class="match-img"
          width="288"
          height="252"
        />
      </picture>

      <p class="match-description">
        Every match brings you closer to building your candy town. See what
        sweet rewards you can unlock!
      </p>
    </div>
    <span class="match-back-wrap"></span>
    <span class="lolypop-wrap"></span>
    <span class="candies-wrap"></span>
    <span class="candy-wrap"></span>
  </div>
</section>
