<div id="cookie-popup" class="popup-section">
  <div class="container popup-container">
    <h3 class="popup-title" data-text="Cookies Policy">Cookies Policy</h3>
    <p class="popup-text">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <div class="popup-buttons">
      <button class="button-cookies accept" type="button">
        Accept Cookies
      </button>
      <button class="button-cookies decline" type="button">
        Decline Cookies
      </button>
    </div>
  </div>
</div>
