<section id="show-off-your-town" class="show-town-section">
  <div class="container show-town-container">
    <h2 class="show-town-title" data-text="Show Off Your Town">
      Show Off Your Town
    </h2>
    <div class="show-town-block">
      <div class="show-town-block-text">
        <h3 class="show-town-subtitle">Share Your Sweet Creation!</h3>
        <p class="show-town-text">
          Show your friends your amazing candy town! Share it and inspire
          others!
        </p>
      </div>
      <div class="show-town-block-image">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/show-off-your-town/desk.png    1x,
              ./img/show-off-your-town/desk@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199.98px)"
            srcset="
              ./img/show-off-your-town/mob.png    1x,
              ./img/show-off-your-town/mob@2x.png 2x
            "
          />
          <img
            class="show-town-image"
            src="./img/show-off-your-town/mob.png"
            alt="Phone with candy town"
            width="288"
            height="331"
          />
        </picture>
      </div>
    </div>
    <div class="show-candy-wrapper">
      <img
        class="show-candy"
        srcset="
          ./img/show-off-your-town/candy.png    1x,
          ./img/show-off-your-town/candy@2x.png 2x
        "
        src="./img/show-off-your-town/candy.png"
        alt="Candy"
        width="115"
        height="116"
      />
    </div>
  </div>
</section>
