<section id="start-buildung-now" class="start-buildung-now">
  <div class="container">
    <h2 class="start-title title" data-text="Start Building Now">
      Start Building Now
    </h2>

    <h3 class="start-subtitle">Ready to build your candy town?</h3>

    <p class="start-description">
      Download Candy Road and start your adventure!
    </p>

    <a
      href="https://play.google.com/store/apps/details?id=com.chorse.match3&hl=en&gl=us"
      target="_blank"
      class="start-link"
    >
      <span class="start-icon-wrap">
        <svg class="start-play-icon" width="17" height="19">
          <use href="./img/sprite.svg#icon-google-play"></use>
        </svg>
      </span>
      Google Play
    </a>

    <span class="start-balanced"></span>
    <span class="start-galaxy-left"></span>
    <span class="start-galaxy-right"></span>
  </div>
</section>
