html {
  scroll-behavior: smooth;
}

.title {
  position: relative;
  color: $_primary-color;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.06em;
  margin-bottom: 8px;
  text-align: center;

  @include media(desktop) {
    font-size: 40px;
    margin-bottom: 40px;
    z-index: 1;
  }
}

.title::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: $_white-color;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  -webkit-text-stroke: 4px $_white-color;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @include media(desktop) {
    left: unset;
    font-size: 40px;
    -webkit-text-stroke: 8px $_white-color;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
