.home-section {
  padding: 64px 0 24px;
  scroll-margin-top: 40px;

  @include media(desktop) {
    padding-top: 90px;
    background-image: image-set(
      url(../img/home/desk.png) 1x,
      url(../img/home/desk@2x.png) 2x
    );
    width: 1200px;
    height: 800px;
    margin: 108px auto 0;
    scroll-margin-top: 108px;
  }
}

.home-container-desk {
  @include media(desktop) {
    width: 548px;
  }
}
.home-title {
  position: relative;
  color: $_primary-color;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.06em;
  margin-bottom: 8px;
  text-align: center;

  @include media(desktop) {
    text-align: left;
    font-size: 48px;
    margin-bottom: 24px;
    z-index: 1;
  }
}
.home-title::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: $_white-color;
  font-size: 24px;
  font-weight: 900;
  -webkit-text-stroke: 4px $_white-color;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @include media(desktop) {
    text-align: left;
    font-size: 48px;
    -webkit-text-stroke: 8px $_white-color;
  }
}

.home-subtitle {
  color: $_tertiary-color;
  text-align: center;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.06em;
  margin-bottom: 16px;
  font-size: 18px;

  @include media(desktop) {
    text-align: left;
    font-size: 36px;
    margin-bottom: 24px;
  }
}
.home-picture-text {
  position: relative;
}
.home-text {
  position: absolute;
  color: $_color-text;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  line-height: 1.34;
  letter-spacing: 0.06em;
  width: 161px;
  top: 28px;
  left: 8px;
  @include media(desktop) {
    position: static;
    font-size: 24px;
    width: unset;
    margin-bottom: 60px;
  }
}
.home-image {
  margin-bottom: 16px;

  @include media(desktop) {
    display: none;
  }
}
.home-link {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.06em;

  background-color: $_primary-color;
  color: $_white-color;
  padding: 8px 20px;
  border-radius: 18px;
  border: 2px solid $_white-color;
  box-shadow: 0px 43px 12px 0px rgba(0, 0, 0, 0),
    0px 28px 11px 0px rgba(0, 0, 0, 0.01), 0px 16px 9px 0px rgba(0, 0, 0, 0.05),
    0px 7px 7px 0px rgba(0, 0, 0, 0.09), 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  @include media(desktop) {
    font-size: 24px;
    display: inline-flex;
    padding: 16px 40px;
    border-radius: 36px;
    border: 4px solid $_white-color;
    box-shadow: 0px 0 16px 4px rgba(0, 0, 0, 0),
      0px 10px 30px 0px rgba(0, 0, 0, 0.01),
      0px 5px 20px 0px rgba(0, 0, 0, 0.05), 0px 2px 10px 0px rgba(0, 0, 0, 0.09),
      0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  }
}

.home-link:hover {
  box-shadow: 0px 0px 16px 4px #fff, 0px 20px 30px 0px rgba(0, 0, 0, 0),
    0px 70px 28px 0px rgba(0, 0, 0, 0.01), 0px 39px 23px 0px rgba(0, 0, 0, 0.05),
    0px 17px 17px 0px rgba(0, 0, 0, 0.09), 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.home-link:active {
  border: 4px solid $_button-border-color;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1),
    0px 4px 10px 0px rgba(0, 0, 0, 0.05), 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
}

.home-play-icon {
  @include media(desktop) {
    width: 33.13px;
    height: 32.59px;
  }
}
